%table.category_form_edit
  %tr
    %td= form_edit.label(:category)
    %td= form_edit.text_field :name

  - if form_edit.object.errors[:name]
    %tr.error_row
      %td{:colspan => 2}= form_edit.object.errors[:category].to_a.join(" and ")

  - if form_edit.object.new_record?
    %tr      
      %td{:colspan => 2}
        %div{:style => "text-align: right; "}= form_edit.submit "Submit"

  -else
    %tr
      %td{:colspan => 2, :style => 'text-align: right;'}= form_edit.submit "Submit"