%table.product_form_new
  %tr
    %td= form_new.label(:name)
    %td= form_new.text_field :name


  - if form_new.object.errors[:name]
    %tr.error_row
      %td{:colspan => 2}= form_new.object.errors[:product].to_a.join(" and ")

  - if form_new.object.new_record?
    %tr      
      %td{:colspan => 2}
        %div{:style => "text-align: right; "}= form_new.submit "Submit"

  -else
    %tr
      %td{:colspan => 2, :style => 'text-align: right;'}= form_new.submit "Submit"