/ %header.grid_12
/   %h1 Login
/   %ul
/     %li= link_to "Forgot Password?", '/reset_password' # new_reset_password_path(@instance)
/

.container_12
  .grid_12
    = form_for @user_session, :url => user_session_path do |f|
      %h1 Login<span class="arrow"></span>
      - if !@user_session.errors.empty?
        .error_messages
          %h2 Invalid Credentials
      %table{:cellpadding => '0', :cellspacing => '0'}
        %tr
          %td= f.label(:username)
          %td= f.text_field :username
        %tr
          %td= f.label(:password)
          %td= f.password_field(:password)
        %tr
          %td= f.check_box(:remember_me) + " " + f.label(:remember_me, :class => 'remember_me ')
          %td.submit= f.submit "Login"