<!DOCTYPE html>
<html>
  <head>
    <title>Cataloger</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  
  <body class="<%= controller_name %> <%= action_name %>">
    
    <header id="header" class="container_12">
      <h1 class="grid_6">Cataloger</h1>
      <nav id="navigation" class="grid_6">
        <% if current_user %>
          <%= link_to_unless_current "Account", account_path %>
          <%= link_to "Logout", logout_path %>
        <% else %>
          <%= link_to 'Login', '/login' %>
          <%= link_to 'Sign Up', '/signup' %>
        <% end %>
      </nav>
    </header>
    
    <div id="content">
      <%= yield %>
    </div>
    
  </body>
</html>
